

.achievements-headers{
    color: #ffffff !important;
    display: flex;
}

.achievements-content{
    color: #cfcfcf;
    display: flex;
}

.about-headers{
    color: #ffffff !important;
}
.about-content{
    color: #cfcfcf;
}

.img-resource {
    height: 360px;
}
.parallax-header-text {
    font-weight:bold !important;
}