.goals-logo{
    display:flex;
    float: none;
    justify-content: center;
}

.goals-headers{
    color: #ffffff !important;
    display: flex;
    float: none;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.goals-content{
    color: #cfcfcf;
    display: flex;
    float: none;
    justify-content: center;
    text-align: center;
}

.about-headers{
    color: #ffffff !important;
}
.about-content{
    color: #cfcfcf;
}

.img-resource {
    height: 360px;
}
.parallax-header-text {
    font-weight:bold !important;
}